@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body {
  font-family: "Open Sans", sans-serif;
  width: 100vw;
  height: 100vh;
}

.main {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #141414;
}

.standard-text,
input {
  margin: 0;
  color: #8f8f8f;
}
.standard-text {
  margin-left: 10px;
  font-size: 14px;
}

.login-wrap {
  max-width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 630px;
  height: 660px;
  background-color: #303030;
  border-radius: 10px 0px 0px 10px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;
  width: 52px;
  border: 1px solid #8f8f8f;
  box-sizing: border-box;
  border-radius: 8px 0px 0px 8px;
}

.icon-box img {
  height: 20px;
  width: 20px;
}

.username-input,
.password-input {
  font-size: 14px;
  line-height: 19px;
  padding-left: 20px;
  border: 1px solid #8f8f8f;
  border-left-color: transparent;
  width: 278px;
  height: 52px;
  border-radius: 0px 8px 8px 0px;
  background-color: #303030;
  box-sizing: border-box;
  outline: none;
}
.carousel-box {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #00aced;
  width: 453px;
  height: 660px;
  border-radius: 0px 10px 10px 0px;
  overflow: hidden;
}

.input-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.input-wrap {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.input-wrap:first-child {
  margin-top: 10px;
}

.input-wrapper > img {
  position: absolute;
  height: 20px;
  width: 20px;
  padding-right: 15px;
  cursor: pointer;
}

.logo-box {
  margin-top: 49px;
  margin-left: 3px;
  height: 61px;
  align-self: center;
}

.remember-login-box {
  margin-top: 32px;
  display: flex;
  align-self: center;
  align-items: center;
  width: 330px;
  justify-content: space-between;
}
.remember-box {
  display: flex;
}

a,
a:visited {
  text-decoration: none;
  color: #fff;
}

.register-forgotpass-links {
  margin-top: 2px;
  display: flex;
  align-self: center;
  justify-content: space-between;
  width: 330px;
  font-size: 14px;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  min-width: 20px;
  height: 20px;
  border: 1px solid #8f8f8f;
  border-radius: 5px;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  border-color: #7cd235;
  background-color: #7cd235;
  background-image: url("/img/check.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.submit-button {
  width: 100px;
  height: 40px;
  background: linear-gradient(180deg, #7cd235 0%, #2bb34f 100%);
  border-radius: 8px;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
}
.or-separator {
  margin-top: 26px;
  align-self: center;
  width: 330px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.or-text {
  color: #fff;
  margin-left: 0;
}
.separator-line {
  width: 134px;
}

.social-placeholder {
  margin-top: 12px;
  align-self: center;
}
.carousel-pagination-controls {
  height: 660px;
  position: absolute;
  display: flex;
}

.carousel-navigation-button {
  align-self: flex-end;
  display: inline-block;
  margin: 7px 0px 48px 8px;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: rgba(242, 242, 242, 0.56);
  transition: transform 0.1s;
}

.richard {
  display: none;
  margin-top: 5px;
  font-size: 14px;
}
